/*.table*/
/*{*/
/*	display:table;*/
/*	border-collapse:separate;*/
/*	border-spacing:2px;*/
/*}*/
/*.thead*/
/*{*/
/*	display:table-header-group;*/
/*	color:white;*/
/*	font-weight:bold;*/
/*	background-color:grey;*/
/*}*/
/*.tbody*/
/*{*/
/*	display:table-row-group;*/
/*}*/
/*.tr*/
/*{*/
/*	display:table-row;*/
/*}*/
/*.td*/
/*{*/
/*	display:table-cell;*/
/*	border:1px solid black;*/
/*	padding:1px;*/
/*}*/
/*.tr.editing .td INPUT*/
/*{*/
/*	width:100px;*/
/*}*/

#newPatients {

}

.delete-btn{
    background: darkred;
}

#container {
    padding: 2em;
}

 h1,h4 {
    text-align: center;
}

 #entries,#newPatients,#filter{
     padding: 1em;
 }

th{
     text-align: center;
 }

